<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xeredi.press.model.mapper.FeedMapper">
	<resultMap type="Feed" id="ResultMap">
		<id column="feed_pk" />

		<result column="feed_pk" property="id" />
		<result column="feed_pblr_pk" property="pblrId" />
		<result column="feed_url" property="url" />
		<result column="feed_author" property="author" />
		<result column="feed_copyright" property="copyright" />
		<result column="feed_description" property="description" />
		<result column="feed_encoding" property="encoding" />
		<result column="feed_feedType" property="feedType" />
		<result column="feed_generator" property="generator" />
		<result column="feed_language" property="language" />
		<result column="feed_link" property="link" />
	</resultMap>

	<sql id="SelectPrefix">
    <![CDATA[
    SELECT
        feed_pk, feed_pblr_pk, feed_url, feed_author, feed_copyright, feed_description, feed_encoding, feed_feedType, feed_generator, feed_language, feed_link
    FROM feed_feed
    ]]>
	</sql>

	<sql id="SelectWhere">
		<where>
			<if test="pblrId != null">
				AND feed_pblr_pk = #{pblrId}
			</if>
		</where>
	</sql>

	<select id="exists" parameterType="Feed" resultType="Boolean">
		SELECT COUNT(1) FROM feed_feed WHERE feed_url = #{url}
	</select>

	<insert id="insert" parameterType="Feed">
		INSERT INTO feed_feed (
			feed_pblr_pk, feed_url, feed_author, feed_copyright, feed_description, feed_encoding, feed_feedType, feed_generator, feed_language, feed_link
		) VALUES (
			#{pblrId}, #{url}, #{author}, #{copyright}, #{description}, #{encoding}, #{feedType}, #{generator}, #{language}, #{link}
		)
	</insert>

	<insert id="update" parameterType="Feed">
		UPDATE feed_feed SET
			feed_author = #{author}
			, feed_copyright = #{copyright}
			, feed_description = #{description}
			, feed_encoding = #{encoding}
			, feed_feedType = #{feedType}
			, feed_generator = #{generator}
			, feed_language = #{language}
			, feed_link = #{link}
		WHERE feed_url = #{url}
	</insert>
</mapper>
