<ion-header>
  <ion-navbar>
    <ion-title>
      {{feed.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of newList" text-wrap (click)="viewNew(item)">
      <ion-thumbnail item-left><img *ngIf="item.image" src="{{item.image.url}}"></ion-thumbnail>
      <h2>{{ item.title }}</h2>
      <p><span>{{item.meta.title}}</span></p>
      <p *ngIf="item.author">        
        <ion-icon name="person"></ion-icon>
        <small>{{item.author}}</small>
      </p>
      <p *ngIf="item.pubDate">        
        <ion-icon name="clock"></ion-icon>
        <small>{{item.pubDate}}</small>
      </p>
    </button>
  </ion-list>
</ion-content>