<ion-header>
  <ion-navbar>
    <ion-title>
      {{feed.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <a ion-button block *ngIf="feed.followed" (click)="unfollowFeed()">
    <span>Dejar de recibir noticias</span>:&nbsp;<ion-icon name="heart"></ion-icon>
  </a>
  <a ion-button block *ngIf="!feed.followed" (click)="followFeed()">
    <span>Recibir noticias</span>:&nbsp;<ion-icon name="heart-outline"></ion-icon>
  </a>

  <ion-list>
    <button ion-item *ngFor="let item of newList" text-wrap (click)="viewNew(item)">
      <ion-thumbnail item-left *ngIf="item.image.url"><img src="{{item.image.url}}"></ion-thumbnail>
      <h2 [innerHTML]="item.title"></h2>
      <p *ngIf="!feed"><span>{{item.meta.title}}</span></p>
      <p *ngIf="item.author">        
        <ion-icon name="person"></ion-icon>
        <small>{{item.author}}</small>
      </p>
      <p *ngIf="item.pubDate">        
        <ion-icon name="clock"></ion-icon>
        <small>{{item.pubDate}}</small>
      </p>
    </button>
  </ion-list>
</ion-content>