<ion-header>
    <ion-navbar>
        <ion-title>{{publisher.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item icon-start *ngFor="let item of feedList" text-wrap>
            <ion-thumbnail item-left><img src="{{item.imUrl}}"></ion-thumbnail>
            <h2>{{item.title}}</h2>

            <button item-right *ngIf="item.followed" (click)="unfollowFeed(item)">
              <ion-icon name="heart"></ion-icon>
            </button>
            <button item-right *ngIf="!item.followed" (click)="followFeed(item)">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>